body {
    margin: 0;
}

.pg-header {
    height: 44px;
    background-color: #2459a2;
}
.head-menu {
    float:left;
}

.digg-logo {
    width: 121px;
    height: 23px;
    background: url(/static/images/logo.png) no-repeat 0 0;
    float: left;
    margin-top: 11px;
}

a {
    text-decoration: none;
}

.action-menu {
    float: left;
    margin-left: 20px;
}

a.tb {
    color: #c0cddf;
    margin-left: -3px;
    padding: 0 13px 0 16px;
    display: inline-block;
    /*#vertical-align: 1px\9;*/
    line-height: 44px;
}

a.tb:hover {
    color: #fff;
    background-color: #204982;
}

a.active {
    color: #fff;
    background-color: #204982;
}

.pg-body {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    height: auto!important;
    min-height: 713px;
    padding: 6px 28px 60px;
    background-color: #fff;
}

.itmes {
    width: 630px;
    overflow: hidden;
    margin-top: 3px;
    float: left;
}

.content {
    height: 220px;
    overflow-x: auto;
    overflow-y: auto;
    resize: vertical;
}

.bottom {
    width: 330px;
    height: 80px;
    overflow-x: hidden;
    overflow-y: hidden;
    resize: vertical;
    float:right;
}

.page {
    width: 630px;
    overflow: hidden;
    margin-top: 9px;
    float: left;
}

.left_msg {
    width: 330px;
}
