<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/static/css/login.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="pg-body">
        <form action="/bbschat/login/" method="POST">
            <ul>
                <p>Username</p>
                <p>
                    <input name="username" type="username">
                </p>
                <p>Password</p>
                <p>
                    <input name="password" type="password">
                </p>
                <p>
                    <input type="submit" value="登录">
                </p>
             </ul>
        </form>
    </div>
</body>
</html>